@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", Helvetica, sans-serif;
  --font-mono: "Oxygen Mono", monospace;
}

:root {
  --color-primary: #383d3b;
  --color-secondary: #004ead;
  --color-tertiary: #ff5c00;
  --color-white: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-primary);
  }
}

body {
  color: var(--color-white);
  background: var(--color-primary);
  font-family: var(--font-sans);
}
