@import "tailwindcss";

@theme {
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-oxygen-mono);
}

:root {
  --color-primary: #383d3b;
  --color-secondary: #6883ba;
  --color-tertiary: #058c42;
  --color-white: #ededed;
  --background: var(--color-primary);
  --foreground: var(--color-white);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-primary);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", Helvetica, sans-serif;
}
